.projects_section {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 50, 0.5);
  z-index: 1;
}

.section_title {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;

}

/* quality css part */

.container {
  font-family: Arial, sans-serif;
}

/* Blue Section */
.blueSection {
  color: white;
  padding: 40px 20px;
}

.blueContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  float: left;
  line-height: 40px;
  color: #232323;
  width: 27%;
  font-size: 32px;
}

.verticalDivider {
  width: 4px;
  height: 80px;
  background-color: grey;
  margin: 0 20px;
  border-radius: 8px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  flex: 1;
  margin-right: 20px;
  width: 52%;
  color: #555555;
}

.freeQuoteButton {
  background-color: #001a57;
  color: #fff;
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  margin: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.freeQuoteButton:hover {
  background-color: #011135;
  color: #fff;
}


/* history section */
.section_container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px 0;
  height: 500px;
  
}

.image_title_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;

}


.section_image {
  width: auto;
 
height: 400px;
  border-radius: 10px;
  margin-right: 20px;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;

}

.section_titlee {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #232323;
}

.grey_line {
  width: 7%;
  height: 4px;
  border-radius: 8px;
  background-color: grey;
  margin-bottom: 15px;
}

.section_description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}


.signature_imagee {
  width: 120px;
  height: auto;
  margin-top: 20px;
  align-self: flex-start;
}



/* rating */
.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px;
 
}

.contentWrapper {
  width: 80%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
margin-bottom: 50px;
}

.numberRow {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.numberItem {
  flex: 1;
}

.mainText {
  font-size: 50px;
  font-weight: 300;
  color: rgb(7, 7, 52);
  margin-bottom: 10px;
  font-family: 'Nunito sans',sans-serif;
}


.smallDescription {
  font-size: 1.2rem;
  color: #888;
  margin-top: 10px;
}

/* always best  */

.heroContainer {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 50px;
}

.backgroundImageee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 26, 87, 0.9);
  /* Blueish effect */
}

.heroContent {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
 
}

.line {
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin: 20px auto;
}

.descriptionnn {
  font-size: 1rem;
  margin-top: 10px;
  max-width: 600px;
  margin: auto;
  line-height: 1.5;
  color: #fff;
}

.cardWrapper {
  position: relative;
  top: -200px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 4;
}

/* Card Section */
.cardContainer {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  /* padding: 30px; */
  padding-left: 30px;
  height: auto;
  width: 80%;
  max-width: 1200px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardList {
  flex: 1;
  margin-right: 20px;
}

.cardRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.cardTitle {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #232323;
}

.cardDescription {
  font-size:17px;
  color: #555555;
  margin-top: 15px;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}




/* News Section */
.newsSection {
  width: 100%;
  /* height: 800px; */
  margin: 60px auto;
  text-align: center;
      /* background: #f8faff; */

  /* Ensure all inner content is centered */
}

.titleWrapper {
  margin-bottom: 30px;
  /* Space between title and cards */
  text-align: center;
}

.tittle {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  color: #232323;
  margin: 0 0 10px 0;
  /* Space below the title */
}

.greyLine {
  width: 50px;
  height: 4px;
  background-color: rgb(161, 159, 159);
  margin: 0 auto;
  /* Center the grey line horizontally */
  border-radius: 16px;
}

/* Card Grid */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContent {
  padding: 20px 20px;
}

.subtitle {
  font-size: 19px;
  font-weight: bold;
  margin: 10px 0;
  color: #303030;
  cursor: pointer;
}

.subtitle:hover {
  color: #08054a;
}

.description {
  font-size: 17px;
  color: #555555;
  line-height: 1.4;
  width: 300px;
}

/* brands */


.conttainer {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.text {
  font-size: 22px;
  color: #333;
  margin-right: 20px;
 
}


.imageWrapperr {
  display: flex;
  gap: 10px;
}

.immage {
  width:100%;
  height: 150px;
  object-fit: cover;
}