
/* * {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box !important;
} */


/* :root {
  --primary-color: "#0f0",

} */


@font-face {
  font-family: "Nunito-sans-regular";
  src: url("/fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-sans-semi";
  src: url("/fonts/NunitoSans-semiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-sans-bold";
  src: url("/fonts/Nunitosans-Bold.ttf") format("truetype");
}



body {
  font-family: "Nunito-sans-regular" !important;
  font-weight: 400 !important;
  font-weight: normal;
  line-height: 1.2 !important;
  color: #555555 !important
}


body>* {
  font-family: "Nunito-sans-regular" !important;
}

/* diff PAGE TITLE */
.headingh1{
  font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    
}
/* home page title */
.headingh2{
  font-size: 38px;

  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 22px;

}

.textdecs{
  font-size: 18px;
  color: #555555;
}

.contentwrapper{
  width: 80%;
  margin: auto;

}

