.newsSection {
  width: 90%;
  margin: 60px auto;
  text-align: center;
  overflow: hidden;
}

.titleWrapper {
  margin-bottom: 30px;
}

.title {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  color: #232323;
  margin: 15px;
}

.greyLine {
  width: 50px;
  height: 4px;
  background-color: rgb(161, 159, 159);
  margin: 10px auto 20px;
  border-radius: 16px;
}

.description {
  color: #666;
  font-size: 16px;
  margin-bottom: 60px;
}

.sliderWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth sliding */
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 10px;
  opacity: 0; /* Start with invisible */
  animation: slideIn 0.8s ease-out forwards; /* Smooth slide-in effect */
}


.imageWrapper {
  position: relative;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.dateButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #003366;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
}

.textWrapper {
  margin-top: 10px;
}

.subtitle {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3c3c3c;
  cursor: pointer;
}

.readMore {
  font-size: 14px;
  font-weight: bold;
  color: #033160;
  text-decoration: none;
  cursor: pointer;
}
@keyframes slideIn {
  0% {
    transform: translateX(100px); /* Start slightly off-screen to the right */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Slide back to its natural position */
    opacity: 1;
  }
}
